.container {
    background-color: #ffffff;
  }

  .section {
    padding: 94px 0;
  }
  
  /* Header styles */
  
 .header {
   display: flex;
   justify-content: space-around;
   padding: 25px 0;
   border-bottom: 1px solid #ECECEC;
}

  .logo_text {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    color: #2196f3;
    margin: 0;
  }

  .logo_sub_title {
    color: #000000;
  }

  .header_nav{
    margin-left: -250px;
  }
  
  .nav_list {
    display: flex;
    margin: 0px;
    padding: 0px;
  }

  .nav_item {
    margin-right: 50px;
  }

  .nav_item:last-child {
    margin-right: 0px;
  }

  .nav_link {
    font-family: Roboto;
    font-size: 14px;
    color: #212121;
  }
  
  .nav_link:hover {
    color: #2196f3;
    cursor: pointer;
  }

  .address_list {
    display: flex;
    margin: 0px;
  }

  .contact_item {
    margin-right: 50px;
  }

  .contact_item:last-child {
    margin-right: 0;
  }

  .contact_item_group {
    display: flex;
  }

  .contact_link {
    margin-left: 10px;
  }

  .contact_link {
    font-family: Roboto;
    font-size: 14px;
    color: #757575;
    margin-right: 50px;
  }

  .contact_link:hover {
    color: #2196f3;
    cursor: pointer;
  }

  .contact_link:last-child {
    margin-right: 0px;
  }
    
  /* business section styles*/

  .business_section {
      background-color: #2f303a;
      padding: 200px 450px 200px 450px;
      background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(/images/business_bg_img.jpg);
    }

  .title_cont {
    text-align: center;
    margin-bottom: 20px;
  }

  .business__title {
    margin: 0;
    font-family: Roboto;
    font-size: 44px;
    color: #ffffff;
  }

  .btn_block {
    display: flex;
    justify-content: center;
  }

  .business__button {
    font-family: Roboto;
    font-size: 16px;
    width: 216px;
    height: 50px;
    background-color:#2196f3;
    color: #ffffff;
  }

    /*goals styles*/

  .goals_section {
    padding: 94px 215px;
  }

  .goal_list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .goal_title {
    font-family: Roboto;
    font-size: 14px;
    color: #212121;
    margin: 0px 0px 10px 0px
  }

  .goal_item {
    margin-right: 30px;
  }

  .goal_item:last-child {
    margin-right: 0;
  }

  .goal_icon_wrapper {
    display: flex;
    justify-content: center;
    background-color: #ececec;
    padding: 25px 100px;
    margin-bottom: 30px;  
  }
  
  .pennis {
    width: 70px;
    height: 70px;

  }

  .goal_text {
    font-family: Roboto;
    font-size: 14px;
    color: #757575;
    margin: 0; 
  }

    /*our works section*/

  .our_works_section {
    padding: 0px 215px;
  }

  .works_title {
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    color: #212121;
    margin: 0px 0px 50px 0px;
  }

  .works_wrapper {
    display: flex;
    justify-content: center;
  }

  .works {
    margin-right: 30px;
  }

  .works:last-child {
    margin-right: 0px;
  }

  /*team section*/

  .our_team_section {
    padding: 186px 215px 94px 215px;
    background-color: #F5F4FA;
  }

  .our_team_title {
    font-family: Roboto;
    font-size: 36px;
    color: #212121;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
  }  

  .team_list {
    display: flex;
    margin: 0;
    padding-left: 0;
    justify-content: center;
  }

  .team_title {
    font-family: Roboto;
    font-size: 16px;
    color: #212121;
    text-align: center;
    margin: 30px 0px 10px 0px;  
  }

  .team_text {
    font-family: Roboto;
    font-size: 16px;
    color: #757575;
    text-align: center;
    margin: 0px 0px 30px 0px;
    
  }

  .team_item {
    margin-right: 30px;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px ;

  }

  .team_item:last-child {
    margin-right: 0;
  }

  .social_list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 42px;
  }

  .social_item {
    margin-right: 26px;
  }

  .social_name {
    width: 20px;
    height: 20px;
  }

  /* main_client */

  .client_title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
  }

  .client_list {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
  }

  .client_item {
    display: flex;
    justify-content: center;
    width: 43px;
    height: 41px;
    border: 1px solid #AFB1B8;
    border-radius: 4px ;
    padding: 16px 56px;
    margin-right: 30px;
  }

  .client_item:last-child {
    margin-right: 0;
  }

  .blue {
    height: 40px;
    width: 100px;
  }

  .blue:hover {
    fill: #2196f3;
  }

  

  /*footer section*/

 .footer {
    background-color: #2F303A; 
    padding: 60px 0 60px 215px;
 }

 .logo_block {
  margin-bottom: 20px;    
 }

  .white {
    color:#ffffff
  }

  .address_list {
  padding: 0;
  }

  .column {
    display: block;
  }

  .address_link {
    font-family: Roboto;
    font-size: 14px;
    color: #ffffff;
  }

  .gray {
    color:gray;
  }

  .address_item {
    padding-bottom: 9px;  
  }

  .address_item:last-child {
    padding-bottom: 0px;
  }

  .footer {
    display: flex;
  }

  .logo_wrapper {
    margin-right: 70px;
  }

  .join_title {
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #ffffff;
  }

  .icon_list {
    display: flex;
    padding-left: 0;  
  }

  .icon_item {
    border-radius: 50%;
    background-color: #000000 ;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 

  